
@{
    ViewBag.Title = "My profile";
}

<h2>@ViewBag.Profile.FirstName @ViewBag.Profile.LastName</h2> 
<p>Date of birth: @ViewBag.DateOfBirth</p>
<p>From @ViewBag.Profile.City, @ViewBag.Profile.Country</p>

<a href="">Update profile</a>
<hr />

