@model FacebookDAW.Models.Profile
@{
    ViewBag.Title = "My profile";
    int profileId = (int)ViewBag.Profile.Id;
}

<br />
@if (TempData.ContainsKey("update"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.update</h3>
}
@if (@Model.UserId != ViewBag.currentUser)
{

    if (ViewBag.alreadyFriends)
    {
        <button type="submit" class="btn btn-sm btn-success" disabled>Friends</button>
    }
    if (ViewBag.friendRequestSent == true && ViewBag.alreadyFriends == false)
    {
        <button type="submit" class="btn btn-sm btn-success" disabled>Friend request sent</button>
    }
    if (ViewBag.acceptFriendRequest == true && ViewBag.alreadyFriends == false)
    {
        <form method="post" action="/Profile/AcceptFriendRequest/@Model.Id">
            <button type="submit" class="btn btn-sm btn-success"> Accept friend request</button>

        </form>
    }
    if (ViewBag.alreadyFriends == false && ViewBag.friendRequestSent == false && ViewBag.acceptFriendRequest == false)
    {
        <form method="post" action="/Profile/AddFriend/@Model.Id">
            <button type="submit" class="btn btn-sm btn-success"> Add friend</button>
        </form>
    }
}
<h2>@Model.FirstName @Model.LastName</h2>
<p>Date of birth: @Model.DateOfBirth</p>
<p>From @Model.City, @Model.Country</p>
@if (ViewBag.allowEdit)
{
    <a href="/Profile/Edit/@Model.Id"> Update profile </a>
}

@if (@Model.UserId == ViewBag.currentUser)
{
    <a href="/Album/New/@Model.UserId">Add new album</a>
    <br />
}
<a href="/Album/Index/@Model.Id">See the albums</a>
<a class="btn btn-sm btn-success" href="/Profile/FriendsAndGroups/@Model.Id"> View friends and groups</a>
<hr />

